/* font */
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
/* @tailwind base;
@tailwind components;
@taildwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: #FAE5CF;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */
}

/* page1 to page2 transition */
@keyframes pageTransition {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.75);
  }
}

.page01-transition {
  animation: pageTransition 10s linear;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {transform: translate3d(0, -500px, 0);}
  100% {transform: translate3d(0, 0, 0);}
}

@keyframes bounceOut {
  0% {transform: translate3d(0, 0, 0);}
  100% {transform: translate3d(0, -500px, 0);}
}

@keyframes result-in {
  from {transform: translate3d(-1000px, 0, 0);}
  to {transform: translate3d(0, 0, 0);}
}
@keyframes bounceSpecial {
  0% {transform: translate3d(0, -500px, 0);}
  20% {transform: translate3d(0, 0, 0);}
  50% {transform: translate3d(0, -500px, 0);}
}

.text-bounce-in {
  animation: bounceIn 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* animation-direction: top; */
}
.text-bounce-out {
  animation: bounceOut 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.special-bounce {
  animation: bounceSpecial 10s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.result-in {
  animation: result-in 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
